<div class="login-box">
    <!--     <app-perfils-usuari [usuario[]]="usuario"></app-perfils-usuari>
 -->
    <h2>Registro</h2>
    <form>
        <div class="user-box">
            <input type="text" name="nombre" required="">
            <label>Nombre</label>
        </div>
        <div class="user-box">
            <input type="text" name="apellidos" required="">
            <label>Apellidos</label>
        </div>
        <div class="user-box">
            <input type="password" name="contrasenya" required="">
            <label>Contraseña</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Repite la contraseña</label>
        </div>
        <div class="user-box">
            <input type="number" name="edad" required="">
            <label>Edad</label>
        </div>
        <div class="user-box">
            <input type="email" name="correo" required="">
            <label>Correo</label>
        </div>
        <div class="user-box big">
            <input type="text" name="descripcion" required="">
            <label>Descripcion</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span> Submit
        </a>
    </form>
</div>
<!-- Obtenido de: 
  https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda -->