<div class="login-box">
    <table>
        <h1>dsf</h1>
        <tr *ngFor="let item of usuario">
            <td>
                {{ item.nombre }}
            </td>
        </tr>
    </table>

    <!--   (ngSubmit)="creacionUsuario()" novalidate
 -->

    <h2>Registro</h2>
    <form (ngSubmit)="
      creacionUsuario(
        nombre,
        apellido,
        edad,
        foto,
        correo,
        descripcion,
        contrasenya
      )
    " #myForm="ngForm" id="formRegistre">
        <div class="user-box">
            <input type="text" [(ngModel)]="nombre" name="nombre" required="" />
            <label>Nombre</label>
        </div>
        <div class="user-box">
            <input type="text" [(ngModel)]="apellido" name="apellidos" required="" />
            <label>Apellidos</label>
        </div>
        <div class="user-box">
            <input type="password" [(ngModel)]="contrasenya" name="contrasenya" required="" />
            <label>Contraseña</label>
        </div>
        <div class="user-box">
            <input type="password" [(ngModel)]="contrasenya2" name="contrasenya2" required="" />
            <label>Repite la contraseña</label>
        </div>
        <div class="user-box">
            <input type="number" [(ngModel)]="edad" name="edad" placeholder="2" value="2" required="" />
            <label>Edad</label>
        </div>
        <div class="user-box">
            <input type="email" [(ngModel)]="correo" name="correos" required="" />
            <label>Correo</label>
        </div>
        <div class="user-box big">
            <input type="text" [(ngModel)]="descripcion" name="descripcion" required="" />
            <label>Descripcion</label>
        </div>
        <input type="submit" style="display: none" />
        <a (click)="
        creacionUsuario(
          nombre,
          apellido,
          edad,
          foto,
          correo,
          descripcion,
          contrasenya
        )
      ">
            <span></span>
            <span></span>
            <span></span>
            <span></span> Submit
        </a>
    </form>
</div>
<!-- Obtenido de: 
  https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda  (click)=creacionUsuario(nombre)-->