<body>
  <h1 class="friendsTittle">Administracion de Usuarios</h1>
  <a class="addUser" routerLink="registre">Crear Usuario</a>

  <div id="" class="mongo">
    <div class="friendZone" *ngFor="let item of usuarios">
      <div
        class="imagenPerfil"
        style="background-image: url('{{ item.foto }}');"
      ></div>

      <h2 class="nombreAmigos">{{ item.nombre }} {{ item.apellidos }}</h2>
      <h3 class="descripcion">{{ item.descripcion }}</h3>

      <div class="datosUsuario">
        <div class="login-box">
          <form
            (ngSubmit)="eliminarUsuario(item)"
            #myForm="ngForm"
            id="formRegistre"
          >
            <div class="user-box">
              <input
                type="text"
                [(ngModel)]="item.nombre"
                name="nombre"
                required=""
              />
              <label>Nombre</label>
            </div>
            <div class="user-box">
              <input
                type="text"
                [(ngModel)]="item.apellidos"
                name="apellidos"
                required=""
              />
              <label>Apellidos</label>
            </div>
            <div class="user-box">
              <input
                type="password"
                [(ngModel)]="item.contrasenya"
                name="contrasenya"
                required=""
              />
              <label>Contraseña</label>
            </div>

            <div class="user-box">
              <input
                type="number"
                [(ngModel)]="item.edad"
                name="edad"
                placeholder="2"
                value="2"
                required=""
              />
              <label>Edad</label>
            </div>
            <div class="user-box">
              <input
                type="email"
                [(ngModel)]="item.correo"
                name="correos"
                required=""
              />
              <label>Correo</label>
            </div>
            <div class="user-box big">
              <input
                type="text"
                [(ngModel)]="item.descripcion"
                name="descripcion"
                required=""
              />
              <label>Descripcion</label>
            </div>
            <div class="user-box big">
              <input
                type="url"
                [(ngModel)]="item.foto"
                name="foto"
                required=""
              />
              <label>Foto</label>
            </div>
            <input type="submit" style="display: none" />
            <a (click)="eliminarUsuario(item)"> Eliminar </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
